.env
.env.*
!.env.example

.idea/*
!.idea/TiendaTech.iml
.vscode/

.venv/
.venv-*/
__pycache__/
*.py[cod]

**/target/
spark/out/
docs/entrega3/build/

tmp/

Apps/web/infra/crdb-certs/
/crdb-certs/
**/target/generated-sources/protobuf/
experiments/generated/
