# Perfil normal
TT_DATASOURCE_URL=jdbc:postgresql://localhost:5432/TiendaTechV19
TT_DATASOURCE_USERNAME=postgres
TT_DATASOURCE_PASSWORD=cambiar_en_local
VENTAS_SERVICE_URL=http://localhost:8086
PRODUCTOS_SERVICE_URL=http://localhost:8081
USUARIOS_SERVICE_URL=http://localhost:8085

# Perfil crdb
SPRING_PROFILES_ACTIVE=crdb
CRDB_DATASOURCE_URL=jdbc:postgresql://localhost:26257/tiendatech?sslmode=disable
CRDB_DATASOURCE_USERNAME=root
CRDB_DATASOURCE_PASSWORD=
CRDB_RETRY_MAX_ATTEMPTS=3
CRDB_RETRY_DELAY_MS=100
CRDB_POOL_MAX_SIZE=10
CRDB_POOL_MIN_IDLE=2
