prometheus.scrape "tiendatech" {
  targets = [
    { "__address__" = "tiendatech-productos:8081", "__metrics_path__" = "/metrics", "service" = "productos" },
    { "__address__" = "tiendatech-inventario:8082", "__metrics_path__" = "/metrics", "service" = "inventario" },
    { "__address__" = "tiendatech-pedidos:8083", "__metrics_path__" = "/metrics", "service" = "pedidos" },
    { "__address__" = "tiendatech-ordenes-proveedores:8084", "__metrics_path__" = "/metrics", "service" = "ordenes-proveedores" },
    { "__address__" = "tiendatech-usuarios:8085", "__metrics_path__" = "/metrics", "service" = "usuarios" },
    { "__address__" = "tiendatech-ventas:8086", "__metrics_path__" = "/metrics", "service" = "ventas" },
    { "__address__" = "tiendatech-armado-ia:8087", "__metrics_path__" = "/metrics", "service" = "armado-ia" },
  ]
  scrape_interval = "15s"
  forward_to = [prometheus.remote_write.grafana_cloud.receiver]
}

prometheus.remote_write "grafana_cloud" {
  endpoint {
    url = sys.env("GRAFANA_CLOUD_PROM_URL")
    basic_auth {
      username = sys.env("GRAFANA_CLOUD_PROM_USERNAME")
      password = sys.env("GRAFANA_CLOUD_API_KEY")
    }
  }
}
