# CockroachDB distribuido
CRDB_DATASOURCE_URL=jdbc:postgresql://localhost:26257,localhost:26258,localhost:26259/tiendatech?sslmode=disable&targetServerType=any&loadBalanceHosts=true
CRDB_DATASOURCE_USERNAME=root
CRDB_DATASOURCE_PASSWORD=
VENTAS_SERVICE_URL=http://localhost:8086
PRODUCTOS_SERVICE_URL=http://localhost:8081
USUARIOS_SERVICE_URL=http://localhost:8085

CRDB_RETRY_MAX_ATTEMPTS=3
CRDB_RETRY_DELAY_MS=100
CRDB_POOL_MAX_SIZE=10
CRDB_POOL_MIN_IDLE=2
